.chart {
    display: flex;
    justify-content: center;
}

mat-table {
    width: 100%;
}

.divide {
    display: flex;
}

.l {
    padding: 1px;
    flex: 1;
}

.r {
    padding: 1px;
    flex: 1;
}